body {
    background: #4f4f4f;
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

.btn{
    font-size:3rem;
    font-weight:300;
    border-radius:0;
}

#calcInput {
    width: 100% !important;
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    border-bottom: 4px solid #eee;
    text-align: right;
}

.calc-button:hover {
    background: #eee;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
}

.baseTypeBtn{
    color:white;
    margin-right:10px;
    font-size:1.5rem;
}

.card-shadow {
    background-color: #333333;
    padding: 10px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}