body {
    background: #272c2f;
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

.btn{
    font-size:3rem;
    font-weight:300 !important;
}

#calcInput {
    background-color: white;
    padding: 0 30px;
    border: 0;
    border-bottom: 8px solid #eee;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-align: right;
}

label>input{
    color:white;
}

.calc-button:hover {
    background: #eee;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
}

/*.calc-button {
    background-color: white;
    padding: 10px;
    border: 1px solid #eaeaea;
}

.calc-number{
    color:black;
    margin:auto;
    text-decoration:none;
    font-size:2rem;
    font-weight:300;
}*/
