@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/Content/Custom/Calculator")
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-10">
                <input id="calcInput" name="calcInput" disabled />
            </div>
        </div>
        <div class="row number-container">
            @for (var i = 9; i >= 0; i--)
            {
                <div class="btn btn-default col-md-1 number-button">@i</div>
            }
        </div>
        <div class="row">
            <div class="btn btn-default col-md-2 operator-button" operation="subtract">-</div>
            <div class="btn btn-default col-md-2 operator-button" operation="add">+</div>
            <div class="btn btn-default col-md-2 operator-button" operation="multiply">*</div>
            <div class="btn btn-default col-md-2 operator-button" operation="divide">/</div>
            <div class="btn btn-default col-md-2 operator-button" operation="evaluate">=</div>
            <div class="btn btn-default col-md-2 operator-button" operation="resetexpression">C</div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $('.number-button').click(function (ev) {
            let calcInput = $('#calcInput').val();
            let numberValue = $(ev.target).text();
            let data = { calcInput: calcInput, numberValue: numberValue };

            $.ajax("/home/inputnumber", { data: data })
                .done(function (res) {
                    $('#calcInput').val(res);
                });
        })

        $('.operator-button').click(function (ev) {
            let calcInput = $('#calcInput').val();
            let operatorValue = $(ev.target).attr('operation');

            let data = { calcInput: calcInput };

            $.ajax("/home/" + operatorValue, { data: data })
                .done(function (res) {
                    $('#calcInput').val(res);
                });
        })
    </script>
}