@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/Content/Custom/Calculator")
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-8">
                <input id="calcInput" name="calcInput" class="form-control" disabled />
            </div>
        </div>
        <div class="row">
            <label><input type="radio" name="baseType" value="2">Bin</label>
            <label><input type="radio" name="baseType" value="8">Oct</label>
            <label><input type="radio" name="baseType" value="10" checked>Dec</label>
            <label><input type="radio" name="baseType" value="16">Hex</label>
        </div>
        <div class="number-container">
            <div class="row">
                <div class="btn btn-default col-md-2 col-md-offset-4 operator-button" operation="resetexpression">C</div>
                <div class="btn btn-default col-md-1 operator-button" operation="divide">/</div>
            </div>
            <div class="row">
                <div class="btn btn-default col-md-2 number-button">9</div>
                <div class="btn btn-default col-md-2 number-button">8</div>
                <div class="btn btn-default col-md-2 number-button">7</div>
                <div class="btn btn-default col-md-1 operator-button" operation="multiply">*</div>
            </div>
            <div class="row">
                <div class="btn btn-default col-md-2 number-button">6</div>
                <div class="btn btn-default col-md-2 number-button">5</div>
                <div class="btn btn-default col-md-2 number-button">4</div>
                <div class="btn btn-default col-md-1 operator-button" operation="subtract">-</div>
            </div>
            <div class="row">
                <div class="btn btn-default col-md-2 number-button">3</div>
                <div class="btn btn-default col-md-2 number-button">2</div>
                <div class="btn btn-default col-md-2 number-button">1</div>
                <div class="btn btn-default col-md-1 operator-button" operation="add">+</div>
            </div>
            <div class="row">
                <div class="btn btn-default col-md-2 col-md-offset-2 number-button">0</div>
                <div class="btn btn-default col-md-3 operator-button" operation="evaluate">=</div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function (ev) {
            toggleButtonAvaliability(true);

            let baseType = +$("input[name='baseType']:checked").val();
            enableButtonWithValueUnder(baseType);
        })

        function toggleButtonAvaliability(isDisabled) {
            $('.number-container .number-button').attr('disabled', isDisabled);
        }

        function enableButtonWithValueUnder(upperBound) {
            $('.number-container .number-button').each(function () {
                let buttonValue = isFinite($(this).text()) ? $(this).text() : -1;

                if (buttonValue >= 0 && buttonValue < upperBound) {
                    $(this).attr('disabled', false);
                }
            });
        }

        function makeApiCall(route, data) {
            $.ajax(route, data)
                .done(function (res) {
                    $('#calcInput').val(res);
                });
        }

        $("input[name='baseType']").click(function (ev) {
            toggleButtonAvaliability(true);

            let activeBaseType = $(ev.target).val();

            if (activeBaseType === '2'){
                enableButtonWithValueUnder(2);
            } else if (activeBaseType === '8') {
                enableButtonWithValueUnder(8);
            } else if (activeBaseType === '10') {
                enableButtonWithValueUnder(10);
            } else if (activeBaseType === '16') {
                toggleButtonAvaliability(false);
            }

            makeApiCall("/home/resetexpression", { data: {} });
        })

        $('.number-button').click(function (ev) {
            let calcInput = $('#calcInput').val();
            let numberValue = $(ev.target).text();
            let data = { calcInput: calcInput, numberValue: numberValue };

            makeApiCall("/home/inputnumber", { data: data });
        })

        $('.operator-button').click(function (ev) {
            let calcInput = $('#calcInput').val();
            let operatorValue = $(ev.target).attr('operation');
            let baseType = $("input[name='baseType']:checked").val();

            let data = { calcInput: calcInput, fromBase: baseType };

            makeApiCall("/home/" + operatorValue, { data: data });
        })
    </script>
}